<!doctype html> 
<html lang="de"> 
<head> 
	<title>Updateprogramm - Update</title>
</head> 
<body>
	<form action="" method="POST">
		<div>
			{{ current_state }} <br>
			Browser: {{browser}} <br>
			Version: {{version}} <br>
			UAS: {{uas}} <br>
			Program Version: {{prog_version}} <br>
		</div>
		<div>
			<!--{% if version < 55 %}
				<hr>
				Update available
				<input type = submit value = 'Ok, update' />
			{% else %}
				You are up to date
			{% endif %}-->
		</div>
	</form>
</body> 
</html>
